<div class="container" style="background-color: linen;">

  <div class="container">
  <div class="row">
    <div class="carousel">
      <a class="carousel-item"><img src="assets/img/product/img_full_1.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_2.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_3.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_4.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_5.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_6.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_7.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_8.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_9.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_10.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_11.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_12.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_13.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_14.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_15.jpg"></a>
      <a class="carousel-item"><img src="assets/img/product/img_full_16.jpg"></a>
    </div>
  </div>

  <article>

    <div class="row">
      <div class="col s2">
        <img style="max-height: 80px;" src="assets/img/icons/sin_w.png">
      </div>
      <div class="col s10" style="line-height: 25px; padding-top: 15px">
        Предназначено для гарантированого питания потребителей стабильным напряжением ~220V. При преобразовании
        формирует <b>идеальную форму синусоиды</b>
      </div>
    </div>

    <div class="row">
      <div class="col s2">
        <img style="max-height: 80px;" src="assets/img/icons/eco.png">
      </div>
      <div class="col s10" style="padding-top: 30px; line-height: 25px;">
        Специальный режим ЕКО позволяет <b>економить электроэнергию</b>, используя по возможности энергию внешнего
        источника
      </div>
    </div>

    <div class="row">
      <div class="col s2">
        <img style="max-height: 80px;" src="assets/img/icons/sepic.png">
      </div>
      <div class="col s10" style="line-height: 25px; padding-top: 15px">
        Дополнительная зарядка с преобразователем <b>SEPIC</b> позволяет заряжать аккумулятор от разных источников
        электроэнергии (солнечных батарей напряжением 7-30V,
        термоелектрических преобразователей, внешних аккумуляторов 12V или 24V)
      </div>
    </div>

    <div class="row">
      <div class="col s2">
        <img style="max-height: 80px;" src="assets/img/icons/shield.png">
      </div>
      <div class="col s10" style="line-height: 25px; padding-top: 15px">
        При наличии сети, <b>защищает</b> от пониженного и повышенного напряжения, <b>стабилизирует и фильтрует</b> от
        помех выходное напряжение
      </div>
    </div>

    <div class="row">
      <div class="col s2">
        <img style="max-height: 80px;" src="assets/img/icons/cooling.png">
      </div>
      <div class="col s10" style="line-height: 25px; padding-top: 30px">
        Прибор разработан с <b>минимальным тепловыделением</b>, что позволяет встраивать его в закрытые ящики
      </div>
    </div>

    <div class="row">
      <div class="col s2">
        <img style="max-height: 80px;" src="assets/img/icons/power.png">
      </div>
      <div class="col s10" style="line-height: 25px; padding-top: 30px">
        <b>Мощность</b> преобразователя 600Вт (кратковременно 800Вт) позволяет автономно питать устройства до 1000ВА
      </div>
    </div>

    <div class="row">
      <div class="col s2">
        <img style="max-height: 80px;" src="assets/img/icons/battery.jpg">
      </div>
      <div class="col s10" style="line-height: 25px; padding-top: 5px">
        Встроена <b>мощная зарядка для аккумуляторов большой емкости</b> (ток заряда до 9А) поддерживает полностью
        заряженным аккумулятор в рабочем режиме,
        и имеет специальный алгоритм хранения с <b>предотвращением сульфатации</b> в выключенном состоянии. Есть <b>защита
        от глубокой разрядки аккумулятора</b>
      </div>
    </div>
  </article>
  </div>
</div>
