<div class="row">
  <nav>
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo"><img style="max-height: 50px; margin: 7px" routerLink="/" src="assets/img/menu-home-icon.png"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="catalog">Каталог</a></li>
        <li><a routerLink="manual">Руководство пользователя</a></li>
        <li><a routerLink="contacts">Контакти</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="row" style="color: #fff; background-color: rgba(238,110,115,0.7); padding-top: 20px; padding-bottom: 20px; margin-top: -20px">
  <div class="col s2">
    <img style="max-height: 230px;
                max-width: 190px;
                height: 100%;
                width: 100%;"
         src="assets/img/icons/ups-a-01.png">
  </div>
  <div class="col s10" style="padding-left: 1%; padding-top: 2%;">
    <div style="font-size: 250%;">Универсальное устройство бесперебойного питания</div>
    <div style="font-size: 150%; padding-top: 2%;">с правильной синусоидой и солнечной зарядкой</div>
  </div>
</div>

